.img {
  background-image: url('/image.png');
  background-size: cover;
  height: 30vh;
  width: 100%;
}

.heading {
  font-family: sans-serif;
  font-weight: 550;
  font-size: 25px;
}

.concerns span {
  padding: 5px 15px;
  background-color: #e8f5e9;
  color: #000;
  border-radius: 20px;
  margin-right: 10px;
  margin: 10px;
}

.image {
  width: 20px;
  height: 10px;

}

.doctor-card {
  height: 400px;
  width: 30px;
  border: 2px solid black;
}

.image {
  width: 100px;
  height: 100px;
}

.cards {
  background-size: cover;
}